body{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-areas: /* this is the page structure, with 2 column and 3 row*/
    "header header" 
    "main aside"
    "footer footer"; 
    grid-template-rows: 8% 1fr 8%; /*line size*/
    grid-template-columns: 80% 20%; /*column size*/
}
header{
    grid-area: header; /*name placed in the structure*/
    background-color: green;
}
main{
    grid-area: main; /*name placed in the structure*/
    background-color: red;
}
aside{
    grid-area: aside; /*name placed in the structure*/
    background-color: blue;
}
footer{
    grid-area: footer;/*name placed in the structure*/
    background-color: gray;
}