* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

main h1 {
    text-align: center;
    color: #FF4081;
    font-family: Ubuntu;
    font-size: 50px;

}

.texto-especial {
    text-align: center;
    color: #9D9D9D;
}

.bloco-cinza {
    background-color: #C4C4C4;
    height: 350px;
    margin-top: 3%;
}
iframe{
    width: 100%;
    height: 100%;
}

.texto {
    margin-top: 3%;
    font-size: 18px;
}

.texto h2 {
    margin-top: 3%;
    color: #419488;
    font-size: 24px;
}

section {
    margin-top: 7%;
    background-color: #F6F6F6;
    height: 650px;
}

section h1 {
    text-align: center;
    font-size: 50px;
    color: #FF4081;
}

.section-fotos{
   display: flex;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 3%;
   justify-content:space-around;
}
.section-fotos div{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-fotos img{
    width: 250px;
    height: 250px;
}

section h3{
    color: #FF4081;
    font-size: 20px;
    text-align: center;
    margin-top: 4%;
}

section p{
    font-size: 17px;  
    text-align: justify;  
    margin-top: 10%;
}

section a{
    background-color: #FF4081;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 25px;
    border-radius: 40px;
    margin-top: 10%;
}

@media only screen and (max-width: 1078px){
    section h1 {
        font-size: 35px;
    }
    .section-fotos div{
        max-width: 150px;
    }
    .section-fotos img{
        width: 155px;
        height: 155px;
    }
    section h3{
        font-size: 18px;
    }
    section p{
        font-size: 15px;  
    }
    section a{
        font-size: 17px;
        padding: 14px 15px;
        border-radius: 40px;
    }
}
@media only screen and (max-width: 730px){
    main h1{
        font-size: 35px;
    }
    .texto-especial{
        font-size: 15px;
    }
    main p{
        font-size: 19px;
        text-align: justify;
    }
    section{
        height: 1430px;
    }
    section h1{
        font-size: 35px;
    }
    .section-fotos{
       flex-wrap: wrap;
    }
    .section-fotos div{
        max-width: 230px;
        margin: 10%;
    }
    .section-fotos img{
        width: 175px;
        height: 175px;
    }
}