
.container{
    display: flex;
    height: 100vh; /*takes up all the space*/
    background-color: blue;
    align-items: center; /* aligns items in the center of the horizontal*/
    justify-content: center;/* aligns items in the center of the vertical*/
}
.box{
    width: 50px;
    height: 50px;
    margin-bottom: 8px ;
}
.blue {
    background-color: aqua;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}