
.container{
    display: flex;
    height: 100vh; /* pega toda a altura*/
    background-color: blue;
    align-items: center; /* alinha os itens no centro da horizontal*/
    justify-content: center;/* alinha o itens no centro da vertical*/
}
.box{
    width: 50px;
    height: 50px;
    margin-bottom: 8px ;
}
.blue {
    background-color: aqua;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}